$bg: #333;
$bg-light: #aaa;
$bg-dark: #444;


body {
    margin: 0;
    background: $bg;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.large-area {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: $bg-light;
    background: $bg-dark;
    border: none;
    border-radius: 10 px;
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
    background-color: #4a4a4a;
}

.large-area:focus {
    color: #eee;
}

.controls {
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

}